<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    
    <!-- Servlet configuration -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>modificationTestInterval</param-name>
            <param-value>0</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
        <multipart-config>
            <max-file-size>5000000</max-file-size> <!-- 5MB max file size -->
            <max-request-size>5000000</max-request-size> <!-- 5MB max request size -->
            <file-size-threshold>1000000</file-size-threshold> <!-- 1MB file size threshold -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

    <!-- JSTL Taglib Configuration -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/lib/jstl-1.2.jar</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
